

body, p{
  margin: 0;
}

.header{
  width: 1000px;
  margin: 0 auto 0 auto;
}

.header h1{
  margin: 8px 0 8px 0;
  font-family: 'Karla', sans-serif;
  font-weight: bold;
  font-size: 50px;
  display: inline-block;
  vertical-align: middle;
  height: 60px;
}

.header .navbar{
  list-style-type: none;
  display: inline-block;
}

.header .navbar li{
  display: inline-block;
  padding: 0 20px 0px 20px;
}

.header .navbar li a{
  color: black;
  text-decoration: none;
  font-family: 'Karla', sans-serif;
  text-transform: uppercase;
}

.header .navbar li a:hover{
  color: gray;
}

.container{
  margin: 0 auto;
  width: 990px;
}

.container img{
  display: block;
  margin: 0 auto;
}

.collage{
  margin-bottom: 30px;
}
.main .post {
  width: 75%;
  float: left;
  padding-right: 30px;
  box-sizing: border-box;
}

.main .sidebar{
  width: 25%;
  float: right;
}

.post h2{
  font-family: 'Karla', sans-serif;
  text-transform: uppercase;
  text-align: center;
  margin-top: 0;
}

p{
  font-family: 'Karla', sans-serif;
  text-align: justify;

}

.widget{
  border: solid 1px #666;
  padding: 0 10px 20px 10px;
  margin-bottom: 15px;
}

.widget h3{
  font-family: 'Karla', sans-serif;
  text-align: center;
}

.widget button{
  text-align: center;
  color: white;
  margin: 10px auto 0 auto;
  display: block;
  background-color: black;
  padding: 10px 16px;
  border: none;
}

.widget button:hover{
  background-color: gray;
  cursor: pointer;
}

.footer{
  background-color: #f5f5f5;
  clear: both;
  height: 70px;
}

.footer p{
  text-align: center;
  padding: 20px;
  vertical-align: middle;
}

/*
Collage
*/
.collage{
    height: 787px;
    position: relative;
}

.post-it{
  position: absolute;
}

#video{
  width: 674px;
  height: 380px;
  background-color: black;
  top: 0;
  left: 0;
}

#list{
  width: 300px;
  height: 495px;
  background-color: gray;
  top: 0;
  right: 0;
}

#youtube{
  width: 430px;
  height: 99px;
  background-color: black;
  top: 396px;
  left: 244px;
}

#quote{
  width: 746px;
  height: 276px;
  background-color: blue;
  bottom: 0;
  right: 0;
}

#instagram{
  width: 228px;
  height: 228px;
  background-color: yellow;
  left: 0;
  bottom: 162px;
}

#tumblr{
  width: 228px;
  height: 147px;
  background-color: pink;
  bottom: 0;
  left:0;
}

.socialmedia{
  display: inline-block;
  padding: 5px;
  float: right;
  height: 60px;
  padding: 20px;
}

.socialmedia img{
  width: 20px;
  height: 20px;
  padding: 6px;
}
